.button-head {
  border: transparent;
  background: transparent;
  color: white;
  margin-top: 3px;
}

tr {
  height: 0.5px;
}

.mdl-card {
  width: 100%;
}

.button-head {
  border: transparent;
  background: transparent;
  color: white;
  margin-top: 3px;
}

.button-table {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 1;
}

.material-icons {
  font-size: 14px;
}

.nav-right a {
  text-decoration: none;
}

.widget-table {
  width: 100%;
  border-collapse: collapse;
}

.widget-th {
  height: 30px;
  width: 88px;
}

.widget-tr {
  font-size: 12px;
  vertical-align: top;
}

.day {
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.day-date {
  height: 42px;
  text-align: right;
  width: 55px;
  border: 1px solid #aaa;
}

.day-event {
  width: 580px;
  border: 1px solid #aaa;
}

.agenda-information {
  color: white;
  padding-left: 2px;
 // width: 100%;
 // height: 100%;
}

.meeting-event {
  background-color: #9C27B0;
}

.default-event {
  background-color: #2196F3;
}

.event-time {
  font-weight: bold;
}

.event-desc {
  display: block;
}

.h-h {
}

// agenda-view
// ----------------------------------------------------------------------------
.agenda-view .date-text {
   margin-top: 32px;
   padding-left: 31px;
   color: #757575;
}

.agenda-view .event-checkbox {
  display: inherit;
}

.agenda-view .checkbox-text {
  margin-left: -17px;
  margin-top: 10px;
  color: #757575;
}

.agenda-view .add-icons {
  color: #757575;
}

// add-dialog
.add-dialog .button-table {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.add-dialog .material-icons {
  font-size: 14px;
}

.add-dialog .nav-right a {
  text-decoration: none;
}

.add-dialog .widget-table {
  width: 100%;
  border-collapse: collapse;
}

.add-dialog .widget-tr {
  font-size: 12px;
}

.add-dialog .widget-a {
  text-decoration: none;
}

.add-dialog .date-agenda {
  width: 100px;
  text-align: center;
}

.add-dialog .time-agenda {
  width: 150px;
  text-align: center;
}

.add-dialog .agenda-options {
  width: 100px;
}

.add-dialog .agenda-options button {
  width: 80%;
  bottom: 15px;
  margin-bottom: 5px;
}

.add-dialog .information {
  width: 293px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-dialog .information div {
  padding-bottom: 5px;
}

.add-dialog .information .material-icons {
  font-size: 12px;
  vertical-align: middle;
}

.add-dialog .information-title {
  font-weight: 600;
}

.add-dialog .information-label {
  color: #757575;
}

.add-dialog .label-option {
  padding-left: 10px;
}

.add-dialog #purple {
  color: #9C27B0;
}

.add-dialog #blue {
  color: #2196F3;
}

.assistance-footer {
  padding-top: 5px;
}


// reagent-tooltip
// ----------------------------------------------------------------------------
.reagent-tooltip {
		  background-color: red;
}
